@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

/* Custom ScrollBar */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, .2);
}
::-webkit-scrollbar-thumb {
  background: rgba(69, 69, 69, .2); 
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, .3); 
}

/* Basic Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  overflow: overlay;
  font-family: 'JetBrains Mono', sans-serif;
}
header {
  height: 100vh;
  background-color: bisque;
}


/* Navbar */
.navbar {
  background-color: rgb(255, 255, 255);
  height: 8%;
  display: flex;
  justify-content: space-between;
  /* padding: 15px 0; */
}
.logo {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.nav-items {
  margin-right: 50px;
  display: flex;
  align-items: center;
}
.nav-item {
  list-style-type: none;
  margin-right: 20px;
  border: 2px solid rgb(55, 148, 255);
  padding: 5px 10px;
  text-decoration: none;
  color: #111;
}


/* Container grid for social & about */
.header-container {
  height: 92%;
  display: grid;
  grid-template-columns: .3fr 1fr;
  grid-template-rows: .3fr .6fr;
}

/* About */
.about-subtitle {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  align-items: flex-end;
  font-size: 1.4rem;
}
.about-title-text {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}
.about-title {
  font-size: 4rem;
}
.about-text {
  width: 60%;
  font-size: 1.1rem;
}

/* Social */
.social {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: flex;
}
.social-item {
  margin-bottom: 20px;
}


/* Footer */
footer {
  height: 20vh;
  background-color: #000;
}